.container {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container .navbar {
  width: 90%;
  margin: 0 auto;
}

.container .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .logo img {
  width: 28px;
  height: 28px;
}

.container .navbar .logo h1 {
  margin-left: 10px;
  font-size: 25px;
  padding: 5px 5px 0 0;
}

.container .navbar .search i {
  margin: 0 15px 0 15px;
}

.container .navbar .search button {
  width: 125px;
  height: 47px;
  background-color: #f56962;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
}

.container .courseSearch {
  width: 100%;
  margin: 0 auto;
  background-color: #33333d;
  border-radius: 20px;
  padding: 80px 0 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .courseSearch .content h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.container .courseSearch .content p {
  color: white;
}

.container .courseSearch .content .navbar {
  width: 400px;
  padding: 0;
  text-align: center;
  position: relative;
}

.container .courseSearch .content .navbar input {
  border: none;
  width: 320px;
}

.container .courseSearch .content .navbar i {
  width: 50px;
  color: white;
  background-color: #f56962;
  width: 85px;
  height: 100%;
  position: absolute;
  right: 0;
  padding-top: 10px;
  cursor: pointer;
}

.container .courseSearch img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.container .chooseCourse {
  margin-top: 50px;
  text-align: center;
}

.container .chooseCourse h5 {
  display: inline-block;
}

.container .chooseCourse button {
  border: none;
  outline: none;
  color: white;
  background-color: #f56962;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  margin-left: 20px;
}

.container .chooseCourse .courses {
  margin-top: 50px !important;
  margin: 0 auto;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .chooseCourse .courses i {
  position: absolute;
  padding-top: 20px;
}

.container .chooseCourse .courses h5 {
  padding-top: 60px;
  color: black;
  font-size: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .chooseCourse .courses .design {
  width: 120px;
  height: 110px;
  background-color: #efeff6;
  color: #5444a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .design:hover {
  background-color: #5444a5;
  color: white !important;
}

.container .chooseCourse .courses .design:hover h5 {
  color: white;
}

.container .chooseCourse .courses .development {
  width: 120px;
  height: 110px;
  background-color: #fef3e8;
  color: #ef8543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .development:hover {
  background-color: #ef8543;
  color: white !important;
}

.container .chooseCourse .courses .development:hover h5 {
  color: white;
}

.container .chooseCourse .courses .it {
  width: 120px;
  height: 110px;
  background-color: #ddf7ff;
  color: #18afed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .it:hover {
  background-color: #18afed;
  color: white !important;
}

.container .chooseCourse .courses .it:hover h5 {
  color: white;
}

.container .chooseCourse .courses .business {
  width: 120px;
  height: 110px;
  background-color: #e6faea;
  color: #5fd46d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .business:hover {
  background-color: #5fd46d;
  color: white !important;
}

.container .chooseCourse .courses .business:hover h5 {
  color: white;
}

.container .chooseCourse .courses .marketing {
  width: 120px;
  height: 110px;
  background-color: #efeff6;
  color: #5444a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .marketing:hover {
  background-color: #5444a5;
  color: white !important;
}

.container .chooseCourse .courses .marketing:hover h5 {
  color: white;
}

.container .chooseCourse .courses .photography {
  width: 120px;
  height: 110px;
  background-color: #ddf7ff;
  color: #18afed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .chooseCourse .courses .photography:hover {
  background-color: #18afed;
  color: white !important;
}

.container .chooseCourse .courses .photography:hover h5 {
  color: white;
}

.container .choice {
  padding: 50px;
  background-color: #efeff6;
}

.container .choice .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .choice .heading .dropdown {
  display: inline-block;
}

.container .choice .heading .viewAll {
  border: none;
  outline: none;
  color: white;
  background-color: #f56962;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.container .choice .ourCourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .choice .ourCourses .course {
  max-width: 320px;
  background-color: white;
  padding: 10px;
  margin: 10px 0 10px 10px;
}

.container .choice .ourCourses .course h4 {
  font-size: 17px;
}

.container .choice .ourCourses .course img {
  width: 300px;
  height: 200px;
}

.container .choice .ourCourses .course .stats {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .choice .ourCourses .course .stats .fa-star {
  color: #f3b23a;
}

.container .choice .ourCourses .course .stats .fa-eye {
  color: #db4500;
}

.container .choice .ourCourses .course .stats .fa-play-circle {
  color: #3e9365;
}

.container .choice .ourCourses .course .stats p {
  font-size: 12px;
}

.container .choice .ourCourses .course .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .choice .ourCourses .course .options .instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .choice .ourCourses .course .options .instructor img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.container .choice .ourCourses .course .options .instructor h5 {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  padding-top: 7px;
}

.container .choice .ourCourses .course .options .price {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .choice .ourCourses .course .options .price .old-price {
  text-decoration: line-through;
  opacity: 50%;
}

.container .choice .ourCourses .course .options .price .current-price {
  color: #f68c20;
  font-weight: bold;
  margin-left: 5px;
}

.container .learningHelp h4 {
  text-align: center;
  margin-bottom: 20px;
}

.container .learningHelp .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .learningHelp .content .methods .method {
  position: relative;
  max-width: 350px;
  padding: 30px;
}

.container .learningHelp .content .methods .method .number {
  position: absolute;
  left: 0;
  top: 30px;
  display: inline-block;
}

.container .learningHelp .content .methods .method .separator {
  height: 150px;
  width: 1px;
  background: black;
  top: 90px;
  position: absolute;
  left: 10px;
  opacity: 50%;
}

.container .learningHelp .content .photos {
  position: relative;
  width: 580px;
}

.container .learningHelp .content .photos .img1 {
  width: 200px;
  height: 230px;
  position: absolute;
  left: 10%;
  border-radius: 10px;
}

.container .learningHelp .content .photos .img2 {
  width: 210px;
  height: 250px;
  position: absolute;
  right: 10%;
  top: 25%;
  border-radius: 10px;
}

.container .learningHelp .content .photos .img3 {
  width: 224px;
  height: 320px;
  position: absolute;
  left: 0;
  top: 47%;
  border-radius: 10px;
}

.container .course-selection {
  padding: 50px;
  background-color: #fef0ef;
}

.container .course-selection .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .course-selection .heading .dropdown {
  display: inline-block;
}

.container .course-selection .heading .viewAll {
  border: none;
  outline: none;
  color: white;
  background-color: #f56962;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.container .course-selection .ourCourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .course-selection .ourCourses .course {
  max-width: 320px;
  background-color: white;
  padding: 10px;
  margin: 10px 0 10px 10px;
}

.container .course-selection .ourCourses .course h4 {
  font-size: 17px;
}

.container .course-selection .ourCourses .course img {
  width: 300px;
  height: 200px;
}

.container .course-selection .ourCourses .course .stats {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .course-selection .ourCourses .course .stats .fa-star {
  color: #f3b23a;
}

.container .course-selection .ourCourses .course .stats .fa-eye {
  color: #db4500;
}

.container .course-selection .ourCourses .course .stats .fa-play-circle {
  color: #3e9365;
}

.container .course-selection .ourCourses .course .stats p {
  font-size: 12px;
}

.container .course-selection .ourCourses .course .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .course-selection .ourCourses .course .options .instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .course-selection .ourCourses .course .options .instructor img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.container .course-selection .ourCourses .course .options .instructor h5 {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  padding-top: 7px;
}

.container .course-selection .ourCourses .course .options .price {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .course-selection .ourCourses .course .options .price .old-price {
  text-decoration: line-through;
  opacity: 50%;
}

.container .course-selection .ourCourses .course .options .price .current-price {
  color: #f68c20;
  font-weight: bold;
  margin-left: 5px;
}

.container .course-selection .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

.container .course-selection .owl-nav .owl-prev,
.container .course-selection .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background-color: white;
  outline: none;
}

.container .course-selection .owl-nav .owl-prev:hover,
.container .course-selection .owl-nav .owl-next:hover {
  background-color: #f56962;
}

.container .course-selection .owl-dots {
  display: none;
}

.container .getStarted {
  width: 100%;
  height: 400px;
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 400px;
  text-align: center;
}

.container .getStarted h6 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-top: 11%;
}

.container .getStarted p {
  color: white;
  font-size: 20px;
}

.container .getStarted button {
  background-color: #f56962;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  width: 140px;
  height: 50px;
}

.container .studentGoals {
  background-color: #efeff6;
  padding-top: 20px;
}

.container .studentGoals .heading {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.container .studentGoals .students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.container .studentGoals .students .card {
  position: relative;
  width: 340px;
  height: 250px;
  padding: 20px;
  border: none;
  border-radius: 0 10px 0 10px;
}

.container .studentGoals .students .card img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .studentGoals .students .card h6 {
  position: absolute;
  left: 25%;
  top: 15%;
}

.container .studentGoals .students .card p {
  margin-top: 20px;
  line-height: 30px;
}

.container .studentGoals .students .owl-nav {
  position: absolute;
  top: -50px;
  right: 30px;
}

.container .studentGoals .students .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: white;
  outline: none;
}

.container .studentGoals .students .owl-dots {
  display: none;
}

.container .partners .heading {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.container .partners .partner-logos {
  margin: 0 auto;
}

.container .partners .partner-logos img {
  width: 132px;
  margin-left: 40px;
}

.container .partners .partner-logos .owl-dots {
  display: none;
}

.container .partners .partner-logos .owl-nav {
  position: absolute;
  right: 0;
  top: -70px;
}

.container .partners .partner-logos .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: #efeff6;
  outline: none;
}

.container footer {
  background-color: #282834;
  padding: 40px 40px 0px 40px;
}

.container footer .footer-menu {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
}

.container footer .footer-menu h5 {
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
}

.container footer .footer-menu li {
  color: white;
  font-size: 15px;
  opacity: 50%;
  list-style-type: none;
  margin-bottom: 7px;
}

.container footer .rightsreserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 50%;
  bottom: 0;
}

.container footer .rightsreserved p {
  color: white;
}

.container footer .rightsreserved i {
  color: white;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */